/* Inicio.module.css */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.filmeList {
  list-style-type: none;
  padding: 0;
}

.filmeItem {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  margin-top: 10px; /* Adicionado gap entre os filmes */
}

.filmeItem h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.filmeItem p {
  margin: 5px 0;
  color: #555;
}

.filmeItem a {
  display: inline-block;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1em;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.filmeItem a:hover {
  background-color: #0056b3;
}

.paragraph {
  text-align: center;
  color: #555;
  font-size: 1.2em;
  margin-top: 20px;
}
