.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
}

.button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 32%; /* Ajuste o tamanho para permitir três botões na linha */
}

.button:hover {
  background-color: #0056b3;
}

.mensagem {
  margin-top: 20px;
  font-size: 1em;
  color: #155724;
  text-align: center;
}

.buttonVoltar {
  background-color: #28a745;
}

.buttonVoltar:hover {
  background-color: #218838;
}

.buttonClear {
  background-color: #ffc107;
}

.buttonClear:hover {
  background-color: #e0a800;
}

/* Adicionei um estilo para o botão em linha */
.form .button {
  margin-top: 10px; /* Margem superior para espaçamento entre os botões e o formulário */
}
